body{
    background-color: 	#EBE9E6;
    
}
body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

#main-header{
    width: 100%;
    padding: 10px;
    background-color: black;
    color: rgb(235, 233, 230);
}
#titulo{
    text-align:center;
    font-size: x-large;
}
#Botones{
    text-align: left;
    margin: 0px; 
    border: 0px;
    
}
#Botones input{
    width: 100%;
    margin-bottom: 0px;
}
table{
    border-collapse: collapse;
}
tr {
    border: black 2px solid;
  }
td{
    border: black 2px solid;
  }


/* Barra deslizante  */
    nav a{
        text-decoration:none;
        color:inherit;
        font-size:14px;
        }
                
    nav li{
        display:inline-block;
        width: 100%;
        height:30px;
        margin-left: -25px;
        /* padding:5px 10px; */
        background-color:#000;
        border:1px solid #000;
        text-align:center;
        color:#fff;
        position:relative;
    }
                
    nav li:hover{
        background-color:#fff;
        color:#000;
        }
                
    nav li>ul{
        display:none;
        width: 100%;
        margin-left: -25px;
        }

    nav li:hover>ul{
        display:block;
        position:absolute;
        top:30px;
        left:0px;
    }    
    button{
        
        width: 100%;
        

    }