body
{
    margin: 0;
    padding: 0;
    background:url(../img/galaxy-evolucion-1920x1080.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    background-color: rgb(235, 233, 230);
}


table{
    border-collapse: collapse;
}
tr {
    border: black 2px solid;
  }
td{
    border: black 2px solid;
  }

.login_box{
    width: 320px;
    height: 420px;
    background-color: black;
    color:#fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.login_box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50%-50%);
}
.login_box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;

}
.login_box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}
.login_box input{
    width: 100%;
    margin-bottom: 20px;
}
.login_box input[type="text"],
.login_box input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;

}
.login_box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background-color: rgb(135, 149, 171);
    color: #fff;
    font-size: 18px;
    border-radius: 15px;
}
.login_box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
}
.login_box a:hover{
    color: #fff;
}
.dashboard ingresos input[type="submit"]{
        border: none;
        outline: none;
        height: 40px;
        background-color: rgb(135, 149, 171);
        color: #fff;
        font-size: 16px;
        border-radius: 15px;
       
    
}
.ingresos{
    background-color: #fafafa;
    margin: auto;
    padding: 80px;
    border: 10px solid #ccc;
    text-align: center;
    width: 50%;
  }
.ingresos input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background-color: rgb(135, 149, 171);
    color: #fff;
    font-size: 16px;
    border-radius: 15px;
}
.salidas input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background-color: rgb(135, 149, 171);
    color: #fff;
    font-size: 16px;
    border-radius: 15px;
}
.regreso{
    align-items:flex-start;
    align-content: flex-start;
}

#menu{
    background-color: black;
}

#menu ul{
list-style:none;
margin: 0;
padding: 0;
}
#menu ul li{
display: inline-block;

}

#menu ul li a{
color: white;
text-decoration: none;
display: block;
padding: 15px 60px;
}
#menu ul li a:hover{
background-color: #42B881;
}

.G_U{
    background-color: #fafafa;
    margin: auto;
    padding: 80px;
    border: 10px solid #ccc;
    text-align: center;
    width: 50%;
}

.G_U input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background-color: rgb(135, 149, 171);
    color: #fff;
    font-size: 16px;
    border-radius: 15px;
}

.G_P{
    background-color: #fafafa;
    margin: auto;
    padding: 80px;
    border: 10px solid #ccc;
    text-align: center;
    width: 50%;
}

.G_p input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background-color: rgb(135, 149, 171);
    color: #fff;
    font-size: 16px;
    border-radius: 15px;
}
