<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {%endblock%}</title>
</head>
<body>
    <a href="/logout">Logout</a>
    {% block content %}
   
    {% endblock %}
    <td>
        <form action="/dashboard" method="get"><input type="submit" value ="regresar"></form> 
    </td>
</body>
</html>