{% extends "base.html" %}

{% block title %} 
Celulares
{% endblock %}

{% block content %} 

<div class="ingresos">
    <!-- <div class="regreso">
        <img src="../static/img/regresar.png" align="left">
    </div> -->
    <h1>Celulares</h1>
    
    <form action="" method="post">
        {{frm.hidden_tag()}}
        <p>
            <h3></h3>
            <table align="center">
                <tr>
                    <td>{{ frm.id_celulares.label }}</td>
                    <td>{{ frm.id_celulares }}</td>
                    {% for error in frm.id_celulares.errors %}
                    <div>
                        {{ error }}
                    </div>
                    {% endfor %}
                </tr>
                <!-- <tr>
                    <td>{{ frm.nombre.label }}</td>
                    <td>{{ frm.nombre }}</td>
                    {% for error in frm.nombre.errors %}
                    <div>
                        {{ error }}
                    </div>
                    {% endfor %}
                </tr>
                <tr>
                    <td> {{ frm.stock.label }}</td>
                    <td> {{ frm.stock  }}</td>
                    {% for error in frm.stock.errors %}
                    <div>
                    {{ error }}
                    </div>
                    {% endfor %} -->
            </table>
            </tr>
                <td>{{ frm.Buscar }}</td>
            </tr>
            </tr>
                <td>{{ frm.min }}</td>
            </tr>
    </form>
</div>
<table>
    <tr>
      <td><strong>Id</strong></td>
      <td><strong>modelo</strong></td>
      <td><strong>Proveedor</strong></td>
      <td><strong>Descripción</strong></td>
      <td><strong>Cantidad en stock </strong></td>
      <td><strong>Cantidad mínima</strong></td>
    </tr>  
    

    {% for usu in inv %}
        {% if usu["modelo"] == prov %}
        <tr>
            <td>{{ usu["id"] }}</td>
            <td>{{ usu["modelo"] }}</td>
            <td>{{ usu["proveedor"] }}</td>
            <td>{{ usu["desc"] }}</td>
            <td>{{ usu["cantidad"] }}</td>
            <td>{{ usu["min"] }}</td>
        </tr>
        {% endif %}
        {% if usu["cantidad"] < usu["min"] and click==1%}
        <tr>
            <td>{{ usu["id"] }}</td>
            <td>{{ usu["modelo"] }}</td>
            <td>{{ usu["proveedor"] }}</td>
            <td>{{ usu["desc"] }}</td>
            <td>{{ usu["cantidad"] }}</td>
            <td>{{ usu["min"] }}</td>
        </tr>
        {% endif %}
    {% endfor %} 
                       
</table>  
<!-- <form action="/filtro_celulares" method="get">
<input type="submit" value ="regresar"> -->
<link rel ="stylesheet" href="{{ url_for('static',filename='css/estilos.css') }}">
{% endblock %}
