{% extends "base.html" %}

{% block title %} 
    Dashboard
{% endblock %}
<link rel ="stylesheet" href="{{ url_for('static',filename='css/estilos.css') }}">
{% block content %} 

<body>
    <h1>Dashboard</h1>
    <table>
        <tr>
          <!--   <td> <form action="/filtro_celulares" method="get">
                <input type="submit" value ="Celulares">
            </form></td> -->
            <td> <form action="/ingresos" method="get">
                <input type="submit" value ="Ingresos">
            </form></td>
            <td> <form action="/usuariosF" method="get">
                <input type="submit" value ="Añadir nuevo usuario">
            </form></td>
<!--             <td> <form action="/proveedores" method="get">
                <input type="submit" value ="proveedores">
            </form></td> -->
            <td> <form action="/busqueda_de_usuariosA" method="get">
                <input type="submit" value ="Gestor de usuarios">
            </form></td>
        </tr>
    </table>
{% endblock %}