{% extends "base.html" %}

{% block title %} 
    Dashboard
{% endblock %}
<link rel ="stylesheet" href="{{ url_for('static',filename='css/estilos.css') }}">
{% block content %} 

<body>
    <h1>Dashboard</h1>
    <table>
        <tr>
            <td> <form action="/filtro_celulares" method="get">
                <input type="submit" value ="Celulares">
            </form></td>
            <!-- <td> <form action="/ingresos" method="get">
                <input type="submit" value ="Ingresos">
            </form></td>
            <td> <form action="/salidas" method="get">
                <input type="submit" value ="salidas">
            </form></td> -->
            <td> <form action="/proveedores" method="get">
                <input type="submit" value ="proveedores">
            </form></td>
        </tr>
    </table>
{% endblock %}