{% extends "base.html" %}

{% block title %} 
    Dashboard
{% endblock %}
<link rel ="stylesheet" href="{{ url_for('static',filename='css/estilos.css') }}">
{% block content %} 

    <body>
        <h1>Dashboard</h1>
        <table>
            <tr>
                <td> <form action="/filtro_celulares" method="get">
                    <input type="submit" value ="Busqueda de Celulares">
                </form></td>
                <td> <form action="/ingresos" method="get">
                    <input type="submit" value ="Añadir nuevo celular">
                </form></td>
<!--               <td> <form action="/salidas" method="get">
                    <input type="submit" value ="salidas">
                </form></td> -->
                <td> <form action="/usuarios" method="get">
                    <input type="submit" value ="Añadir nuevo usuario">
                </form></td>
                <!-- <td> <form action="/proveedores" method="get">
                    <input type="submit" value ="proveedores"> -->
                </form></td>
                <td> <form action="/busqueda_de_usuarios" method="get">
                    <input type="submit" value ="Gestor de usuarios">
                </form></td>
                <td> <form action="/busqueda_proveedores" method="get">
                    <input type="submit" value ="Gestor de proveedores">
                </form></td>
            </tr>
        </table>        
{% endblock %}

    