{% extends "base.html" %}

{% block title %} 
    Filtro celulares
{% endblock %}

{% block content %} 
<link rel="stylesheet" href="../static//CSS/estilos_celulares.css">

    <header id="main-header">
        <div id="barra">
            <p id="titulo">Busqueda</p>
        </div>
            <!-- <div>
                <nav><ul>
                    <li><a href="#">Filtrado por:</a>
                    <ul>
                    <li>Ordenar por:</li>
                    <li><a href="">De mayor a menor inventario</a></li>
                    <li><a href="">De menor a mayor inventario</a></li>
                    <li><a href="">De mayor precio</a></li>
                    <li><a href="">De menor precio</a></li>
                    </ul>
                    </li>            
                </ul></nav>
            </div>	 -->
        </header><!-- / #main-header --> 
        <table>
            <tr>
              <td><strong>Id</strong></td>
              <td><strong>modelo</strong></td>
              <td><strong>Proveedor</strong></td>
              <td><strong>Descripción</strong></td>
              <td><strong>Cantidad en stock </strong></td>
              <td><strong>Cantidad mínima</strong></td>
            </tr>  
            

            {% for usu in inventario %}
                <tr>
                    <td>{{ usu["id"] }}</td>
                    <td>{{ usu["modelo"] }}</td>
                    <td>{{ usu["proveedor"] }}</td>
                    <td>{{ usu["desc"] }}</td>
                    <td>{{ usu["cantidad"] }}</td>
                    <td>{{ usu["min"] }}</td>
                </tr>
            {% endfor %} 
                               
        </table>                
                <table>
                    <tr>
                        <td>
                            <form action="/dashboard" method="get"><input type="submit" value ="regresar"></form> 
                        </td>
                        <td>
                            <form action="/celulares" method="get"><input type="submit" value ="Busqueda avanzada"></form>            
                        </td>
                    </tr>
                </table>
{% endblock %}
