{% extends "base.html" %}

{% block title %} 
    BUSQUEDA DE USUARIOS
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/estilos.css') }}">

    <div class="G_P"> 
        <h1>GESTION DE PROVEDORES</h1>
            <div> 
                <form action="" method="post">
                    {{frm.hidden_tag()}}
                    <table align="center">
                        <tr>
                            <td>{{ frm.nit.label }}</td>
                            <td>{{ frm.nit }}</td>
                            {% for error in frm.nit.errors %}
                            <div>
                                {{ error }}
                            </div>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>{{ frm.name.label }}</td>
                            <td>{{ frm.name }}</td>
                           
                            {% for error in frm.name.errors %}
                            <div>
                                {{ error }}
                            </div>
                            {% endfor %}
                        </tr>                 
                        </table>
                        </tr>
                            <td>{{ frm.delete }}</td>
                            <td>{{ frm.edit }}</td>
                            <td>{{ frm.Crear }}</td>
                        </tr>
                </form>
            </div>
            <table>
                <tr>
                  <td><strong>NIT</strong></td>
                  <td><strong>nombre</strong></td>
                </tr>  
                
            
                {% for usu in prov %}
                <tr>
                    <td>{{ usu["NIT"] }}</td>
                    <td>{{ usu["NAME"] }}</td>
                </tr>
                {% endfor %} 
                                   
            </table>  
    </div>
{% endblock %}