{% extends "base.html" %}

{% block title %} 
    BUSQUEDA DE USUARIOS
{% endblock %}

{% block content %} 
    <link rel="stylesheet" href="{{ url_for('static',filename='css/estilos.css') }}">

    
    <div class="G_U">
        <h1>BUSQUEDA DE USUARIOS</h1>
            <div> 
                <form action="" method="post">
                    {{frm.hidden_tag()}}
                    <table align="center">
                        <tr>
                            <td>{{ frm.id.label }}</td>
                            <td>{{ frm.id }}</td>
                            {% for error in frm.id.errors %}
                            <div>
                                {{ error }}
                            </div>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>{{ frm.name.label }}</td>
                            <td>{{ frm.name }}</td>
                           
                            {% for error in frm.name.errors %}
                            <div>
                                {{ error }}
                            </div>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>{{ frm.rol.label }}</td>
                            <td>{{ frm.rol }}</td>
                            {% for error in frm.rol.errors %}
                            <div>
                                {{ error }}
                            </div>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td> {{ frm.password.label }}</td>
                            <td> {{ frm.password  }}</td>
                            {% for error in frm.password.errors %}
                            <div>
                            {{ error }}
                            </div>
                            {% endfor %}                        
                        </table>
                        </tr>
                            <td>{{ frm.delete }}</td>
                            <td>{{ frm.edit }}</td>
                            <td>{{ frm.search }}</td>
                        </tr>
                </form>
            </div>
    </div>
    <table>
        <tr>
          <td><strong>Id</strong></td>
          <td><strong>nombre</strong></td>
          <td><strong>rol</strong></td>
        </tr>  
        
    
        {% for usu in usuario %}
        <tr>
            <td>{{ usu["id"] }}</td>
            <td>{{ usu["nombre"] }}</td>
            {% if usu["rol"] == '3' %}
                <td>Super admin</td>
            {% endif %}
            {% if usu["rol"] == '2' %}
                <td>Admin</td>
            {% endif %}
            {% if usu["rol"] == '1' %}
                <td>Usuario final</td>
            {% endif %}
        </tr>
        {% endfor %} 
                           
    </table>  
{% endblock %}