{% extends "base.html" %}


{% block title %}
Login Samsung
{% endblock %}
{% block content %}
<link rel ="stylesheet" href="{{ url_for('static',filename='css/estilos.css') }}">

    <div class="login_box">
        <img class="avatar" src="img/Samsung-Logotipo.jpg" alt="logo de samsung">
            <h1>Inicia Sesión</h1>
                <form action="" method="post">
                    {{ frm.hidden_tag() }}
                    <!--usuario-->
                    <p>
                        {{ frm.username.label }}
                        {{ frm.username }}
                        {% for error in frm.username.errors %}
                    <div>
                        {{ error }}
                    </div>
                    {% endfor %}
                    </p>
                    <!--contraseña-->
                    <p>
                        {{ frm.password.label }}
                        {{ frm.password }}
                        {% for error in frm.password.errors %}
                    <div>
                        {{ error }}
                    </div>
                    {% endfor %}
                    </p>
                    <!--boton-->
                    <p>
                        {{ frm.entrar }}
                    </p>
                    <a href="#">¿Has olvidado tu contraseña?</a><br>
                    <a href="#">¿No tienes una cuenta de usuario?</a>
                </form>
    </div>
{% endblock %}