{% extends "base.html" %}

{% block title %} 
    Gestor de celulares samsung
{% endblock %}

{% block content %} 
<link rel="stylesheet" href="../static//CSS/estilos.css">
<div class="ingresos">
<!--     <div class="regreso">
        <img src="../static/img/regresar.png" align="left">
    </div> -->
    <h1>Ingresos Samsung</h1>
    
    <form action="" method="post">
        {{frm.hidden_tag()}}
        <p>
            <h3></h3>
            <table align="center">
                <tr>
                    <td>{{ frm.id_producto.label }}</td>
                    <td>{{ frm.id_producto }}</td>
                    <!-- <td><a href=""><img src = "../static/img/buscar.png" alt="buscar"></a></td>  -->
                    {% for error in frm.id_producto.errors %}
                    <div>
                        {{ error }}
                    </div>
                    {% endfor %}
                </tr>
                <tr>
                    <td> {{ frm.nombre.label }}</td>
                    <td> {{ frm.nombre  }}</td>
                    {% for error in frm.nombre.errors %}
                    <div>
                    {{ error }}
                    </div>
                    {% endfor %}
                </tr>

                <tr>
                    <td>{{ frm.proveedor.label }}</td>
                    <td>{{ frm.proveedor }}</td>
                    {% for error in frm.proveedor.errors %}
                    <div>
                        {{ error }}
                    </div>
                    {% endfor %}
                </tr>



                <tr>
                    <td> {{ frm.descripcion .label }}</td>
                    <td>{{ frm.descripcion  }}</td>
                    {% for error in frm.descripcion .errors %}
                    <div>
                    {{ error }}
                    </div>
                    {% endfor %}
                </tr>
             <!--    <tr>
                    <td> {{ frm.fecha.label }}</td>
                    <td>{{ frm.fecha }}</td>
                    {% for error in frm.fecha.errors %}
                    <div>
                    {{ error }}
                    </div>
                    {% endfor %}
                </tr> -->

                <tr>
                    <td> {{ frm.stock.label }}</td>
                    <td> {{ frm.stock }}</td>
                    {% for error in frm.stock.errors %}
                    <div>
                        {{ error }}
                    </div>
                    {% endfor %}
                </tr>
                <tr>
                    <td> {{ frm.min.label }}</td>
                    <td> {{ frm.min }}</td>
                    {% for error in frm.min.errors %}
                    <div>
                        {{ error }}
                    </div>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ frm.agregar_linea_existente }}</td>
                    <td> {{ frm.agregar_nueva_linea }}</td>
                </tr>
    </table>
    </form>
</div>
<table>
    <tr>
      <td><strong>Id</strong></td>
      <td><strong>Modelo</strong></td>
      <td><strong>Proveedor</strong></td>
      <td><strong>Descripcion</strong></td>
      <td><strong>Cantidad</strong></td>
      <td><strong>Cantidad mínima</strong></td>
    </tr>  
    

    {% for usu in celulares %}
    <tr>
        <td>{{ usu["id"] }}</td>
        <td>{{ usu["modelo"] }}</td>
        <td>{{ usu["proveedor"] }}</td>
        <td>{{ usu["desc"] }}</td>
        <td>{{ usu["cantidad"] }}</td>
        <td>{{ usu["min"] }}</td>
    </tr>
    {% endfor %} 
                       
</table>  
{% endblock %}
