{% extends "base.html" %}

{% block title %} 
    Proveedores
{% endblock %}

{% block content %} 

<div class="ingresos">
    <div class="regreso">
        <img src="../static/img/regresar.png" align="left">
    </div>
    <h1>Proveedores</h1>
    
    <form action="" method="post">
        {{frm.hidden_tag()}}
        <p>
            <h3></h3>
            <table align="center">
                <tr>
                    <td>{{ frm.nit.label }}</td>
                    <td>{{ frm.nit }}</td>
                    {% for error in frm.nit.errors %}
                    <div>
                        {{ error }}
                    </div>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ frm.nombre.label }}</td>
                    <td>{{ frm.nombre }}</td>
                   
                    {% for error in frm.nombre.errors %}
                    <div>
                        {{ error }}
                    </div>
                    {% endfor %}
                </tr>
                
                </tr>
                    <td>{{ frm.guardar }}</td>
                </tr>
    </table>
    </form>
</div>
{% endblock %}
<link rel ="stylesheet" href="{{ url_for('static',filename='css/estilos.css') }}">