{% extends "base.html" %}

{% block title %} 
    Salidas samsung
{% endblock %}

{% block content %} 

<div class="salidas">
    <div class="regreso">
        <img src="../static/img/regresar.png" align="left">
    </div>
    <h1>Salidas Samsung</h1>
    
    <form action="" method="post">
        {{frm.hidden_tag()}}
        <p>
            <h3></h3>
            <table align="center">
                <tr>
                    <td>{{ frm.id_producto.label }}</td>
                    <td>{{ frm.id_producto }}</td>
                    <td><img src="../static/img/buscar.png"></td>
                    {% for error in frm.id_producto.errors %}
                    <div>
                        {{ error }}
                    </div>
                    {% endfor %}
                </tr>
                <tr>
                    <td> {{ frm.nombre.label }}</td>
                    <td> {{ frm.nombre  }}</td>
                    {% for error in frm.nombre.errors %}
                    <div>
                    {{ error }}
                    </div>
                    {% endfor %}
                </tr>
                <tr>
                    <td> {{ frm.fecha.label }}</td>
                    <td>{{ frm.fecha }}</td>
                    {% for error in frm.fecha.errors %}
                    <div>
                    {{ error }}
                    </div>
                    {% endfor %}
                </tr>
                <tr>
                    <td> {{ frm.cantidad.label }}</td>
                    <td>{{ frm.cantidad }}</td>
                    {% for error in frm.cantidad.errors %}
                    <div>
                    {{ error }}
                    </div>
                    {% endfor %}
                </tr> 
                <tr>
                    <td>{{ frm.guardar}}</td>
                </tr>
    </table>
    </form>
</div>
{% endblock %}
<link rel ="stylesheet" href="{{ url_for('static',filename='css/estilos.css') }}">