{% extends "base.html" %}

{% block title %} 
    Registro usuarios
{% endblock %}

{% block content %} 

<div class="ingresos">
    <!-- <div class="regreso">
        <img src="../static/img/regresar.png" align="left">
    </div> -->
    <h1>Registro usuarios</h1>
    
    <form action="" method="post">
        {{frm.hidden_tag()}}
        <p>
            <h3></h3>
            <table align="center">
                <tr>
                    <td>{{ frm.rol.label }}</td>
                    <td>{{ frm.rol }}</td>
                    {% for error in frm.rol.errors %}
                    <div>
                        {{ error }}
                    </div>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ frm.username.label }}</td>
                    <td>{{ frm.username }}</td>
                   
                    {% for error in frm.username.errors %}
                    <div>
                        {{ error }}
                    </div>
                    {% endfor %}
                </tr>
                <tr>
                    <td> {{ frm.password.label }}</td>
                    <td> {{ frm.password  }}</td>
                    {% for error in frm.password.errors %}
                    <div>
                    {{ error }}
                    </div>
                    {% endfor %}
                </tr>
                    <td>{{ frm.guardar }}</td>
                </tr>
    </table>
    </form>
</div>
{% endblock %}
<link rel ="stylesheet" href="{{ url_for('static',filename='css/estilos.css') }}">